<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874058911965-ggcmmfqa79uhutkhbnuvs95qdoir39no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874058911965-ggcmmfqa79uhutkhbnuvs95qdoir39no</string>
	<key>API_KEY</key>
	<string>AIzaSyAA-dlqsbsyPZibj5GSuwbDoWlfXjRPaGo</string>
	<key>GCM_SENDER_ID</key>
	<string>874058911965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srslyk.petalwise</string>
	<key>PROJECT_ID</key>
	<string>petalwise-75a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>petalwise-75a7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874058911965:ios:b127429ec32b95cc46cb34</string>
</dict>
</plist>